body{                                 
    padding: 0px;
    margin: 0px;
    background-image: url('./images/peakpx.jpg');
    color: white;
    font-weight: bolder;
}

#scoreBoard-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
}

#greeting{
    display: flex;
    justify-content: center ;
    font-family: 'GAME', sans-serif;
    text-align: center  ;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

button {
    background-color: transparent;
}

.rock,
.paper,
.scissors {
    border: 0px;
    /* background-color: antiquewhite; */
}

.rock {
    height: 177px;
}

.label {
    text-align: center;

}

.buttons { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#info {
    display: flex;
    justify-content: center;
}